data/covars_nowcast
data/covars_forecast
data/covars/rawdata
data/covars/results
data/gridded_gdlpolys
data/fies_surveys
data/gridded_gdlpolys
data/regions.csv
data/error_age_gender.txt
data/FAOSTAT*
data/GDL*
data/GDL*
cache/*
.Rhistory
*.swp
*.swo
.Rproj.user
